<a href="https://colab.research.google.com/github/aashitadutta/ADM_Project2/blob/master/ADM_Descritization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import statments

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Reading the data and names file

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ADM Project/communities.data", header=None)
df.head()

   0   1      2                    3    4    ...  123  124   125   126   127
0    8   ?      ?         Lakewoodcity    1  ...  0.9  0.5  0.32  0.14  0.20
1   53   ?      ?          Tukwilacity    1  ...    ?    ?  0.00     ?  0.67
2   24   ?      ?         Aberdeentown    1  ...    ?    ?  0.00     ?  0.43
3   34   5  81440  Willingborotownship    1  ...    ?    ?  0.00     ?  0.12
4   42  95   6096    Bethlehemtownship    1  ...    ?    ?  0.00     ?  0.03

[5 rows x 128 columns]

In [ ]:
file = open("/content/drive/MyDrive/ADM Project/communities.names")
header = []
for line in file:
    if "@attribute" in line: 
        header.append(line.split(" ")[1])

In [ ]:
df.columns = header
df.head()

   state county  ... PolicBudgPerPop ViolentCrimesPerPop
0      8      ?  ...            0.14                0.20
1     53      ?  ...               ?                0.67
2     24      ?  ...               ?                0.43
3     34      5  ...               ?                0.12
4     42     95  ...               ?                0.03

[5 rows x 128 columns]

###saving the csv to drive

In [ ]:
df.to_csv('/content/drive/MyDrive/ADM Project/communities.csv')

##Data cleaning

####checking for missing values

What are the missing values per column!!

In [ ]:
missing_per_row = []
for column in df.columns:
    try:
        count = df[df[column] == "?"].shape[0]
    except Exception:
        count = 0
    missing_per_row.append((column, count))
sorted(missing_per_row, key=lambda tup: tup[1], reverse=True)

[('LemasSwornFT', 1675),
 ('LemasSwFTPerPop', 1675),
 ('LemasSwFTFieldOps', 1675),
 ('LemasSwFTFieldPerPop', 1675),
 ('LemasTotalReq', 1675),
 ('LemasTotReqPerPop', 1675),
 ('PolicReqPerOffic', 1675),
 ('PolicPerPop', 1675),
 ('RacialMatchCommPol', 1675),
 ('PctPolicWhite', 1675),
 ('PctPolicBlack', 1675),
 ('PctPolicHisp', 1675),
 ('PctPolicAsian', 1675),
 ('PctPolicMinor', 1675),
 ('OfficAssgnDrugUnits', 1675),
 ('NumKindsDrugsSeiz', 1675),
 ('PolicAveOTWorked', 1675),
 ('PolicCars', 1675),
 ('PolicOperBudg', 1675),
 ('LemasPctPolicOnPatr', 1675),
 ('LemasGangUnitDeploy', 1675),
 ('PolicBudgPerPop', 1675),
 ('community', 1177),
 ('county', 1174),
 ('OtherPerCap', 1),
 ('state', 0),
 ('communityname', 0),
 ('fold', 0),
 ('population', 0),
 ('householdsize', 0),
 ('racepctblack', 0),
 ('racePctWhite', 0),
 ('racePctAsian', 0),
 ('racePctHisp', 0),
 ('agePct12t21', 0),
 ('agePct12t29', 0),
 ('agePct16t24', 0),
 ('agePct65up', 0),
 ('numbUrban', 0),
 ('pctUrban', 0),
 ('medIncome', 0),
 ('pctWWage', 0),
 ('pctWFarmSelf', 0),
 ('pctWInvInc', 0),
 ('pctWSocSec', 0),
 ('pctWPubAsst', 0),
 ('pctWRetire', 0),
 ('medFamInc', 0),
 ('perCapInc', 0),
 ('whitePerCap', 0),
 ('blackPerCap', 0),
 ('indianPerCap', 0),
 ('AsianPerCap', 0),
 ('HispPerCap', 0),
 ('NumUnderPov', 0),
 ('PctPopUnderPov', 0),
 ('PctLess9thGrade', 0),
 ('PctNotHSGrad', 0),
 ('PctBSorMore', 0),
 ('PctUnemployed', 0),
 ('PctEmploy', 0),
 ('PctEmplManu', 0),
 ('PctEmplProfServ', 0),
 ('PctOccupManu', 0),
 ('PctOccupMgmtProf', 0),
 ('MalePctDivorce', 0),
 ('MalePctNevMarr', 0),
 ('FemalePctDiv', 0),
 ('TotalPctDiv', 0),
 ('PersPerFam', 0),
 ('PctFam2Par', 0),
 ('PctKids2Par', 0),
 ('PctYoungKids2Par', 0),
 ('PctTeen2Par', 0),
 ('PctWorkMomYoungKids', 0),
 ('PctWorkMom', 0),
 ('NumIlleg', 0),
 ('PctIlleg', 0),
 ('NumImmig', 0),
 ('PctImmigRecent', 0),
 ('PctImmigRec5', 0),
 ('PctImmigRec8', 0),
 ('PctImmigRec10', 0),
 ('PctRecentImmig', 0),
 ('PctRecImmig5', 0),
 ('PctRecImmig8', 0),
 ('PctRecImmig10', 0),
 ('PctSpeakEnglOnly', 0),
 ('PctNotSpeakEnglWell', 0),
 ('PctLargHouseFam', 0),
 ('PctLargHouseOccup', 0),
 ('PersPerOccupHous', 0),
 ('PersPerOwnOccHous', 0),
 ('PersPerRentOccHous', 0),
 ('PctPersOwnOccup', 0),
 ('PctPersDenseHous', 0),
 ('PctHousLess3BR', 0),
 ('MedNumBR', 0),
 ('HousVacant', 0),
 ('PctHousOccup', 0),
 ('PctHousOwnOcc', 0),
 ('PctVacantBoarded', 0),
 ('PctVacMore6Mos', 0),
 ('MedYrHousBuilt', 0),
 ('PctHousNoPhone', 0),
 ('PctWOFullPlumb', 0),
 ('OwnOccLowQuart', 0),
 ('OwnOccMedVal', 0),
 ('OwnOccHiQuart', 0),
 ('RentLowQ', 0),
 ('RentMedian', 0),
 ('RentHighQ', 0),
 ('MedRent', 0),
 ('MedRentPctHousInc', 0),
 ('MedOwnCostPctInc', 0),
 ('MedOwnCostPctIncNoMtg', 0),
 ('NumInShelters', 0),
 ('NumStreet', 0),
 ('PctForeignBorn', 0),
 ('PctBornSameState', 0),
 ('PctSameHouse85', 0),
 ('PctSameCity85', 0),
 ('PctSameState85', 0),
 ('LandArea', 0),
 ('PopDens', 0),
 ('PctUsePubTrans', 0),
 ('LemasPctOfficDrugUn', 0),
 ('ViolentCrimesPerPop', 0)]

In [ ]:
df.shape

(1994, 128)

####dropping the rows with missing values

What is number of rows with missing values!

In [ ]:
missing_value_rows = []
for i in range(df.shape[0]):
    if "?" in list(df.iloc[i].values):
        missing_value_rows.append(i)

In [ ]:
print("Total rows: " + str(df.shape[0]))
print("Rows with missing values: " + str(len(missing_value_rows)))

Total rows: 1994
Rows with missing values: 1871

drop the row with missing "OtherPerCap" information, but keep the column.
Remove the columns wiht the missing per row values 1675!

In [ ]:
df = df[df["OtherPerCap"] != "?"]
columns_to_drop = [column for column, count in missing_per_row if count == 1675]
df = df.drop(columns_to_drop, axis=1)
df.shape

(1993, 106)

In [ ]:
df.sample(5)

      state county  ... LemasPctOfficDrugUn ViolentCrimesPerPop
23       19    193  ...                0.56                0.63
586      13      ?  ...                1.00                0.56
1442     53      ?  ...                0.00                0.06
1946      6      ?  ...                0.00                0.20
397      42     29  ...                0.00                0.09

[5 rows x 106 columns]

####Compare between cut and qcut

In [ ]:
df['householdsize'].describe()

count    1993.000000
mean        0.463437
std         0.163747
min         0.000000
25%         0.350000
50%         0.440000
75%         0.540000
max         1.000000
Name: householdsize, dtype: float64

In [ ]:
pd.qcut(df['householdsize'], q=4).value_counts()

(0.35, 0.44]      528
(-0.001, 0.35]    509
(0.54, 1.0]       490
(0.44, 0.54]      466
Name: householdsize, dtype: int64

In [ ]:
pd.cut(df['householdsize'], bins=4).value_counts()

(0.25, 0.5]       1221
(0.5, 0.75]        545
(0.75, 1.0]        118
(-0.001, 0.25]     109
Name: householdsize, dtype: int64

*   It must not be necessary to have equal number of participants in each bin as long as bins make sense.

*   cut provides the same, so going along with the pd.cut.

In [ ]:
pd.cut(df['householdsize'], bins=np.linspace(df['householdsize'].min(), df['householdsize'].max(), 5)).value_counts()

(0.25, 0.5]    1221
(0.5, 0.75]     545
(0.75, 1.0]     118
(0.0, 0.25]     107
Name: householdsize, dtype: int64

last one misses some of the values, so not usable.

Cols from GA

In [ ]:
excluded_cols = ['householdsize',
 'racePctAsian',
 'agePct12t29',
 'agePct65up',
 'numbUrban',
 'medIncome',
 'pctWWage',
 'pctWFarmSelf',
 'pctWInvInc',
 'pctWSocSec',
 'pctWPubAsst',
 'pctWRetire',
 'whitePerCap',
 'indianPerCap',
 'AsianPerCap',
 'NumUnderPov',
 'PctPopUnderPov',
 'PctLess9thGrade',
 'PctNotHSGrad',
 'PctUnemployed',
 'PctEmploy',
 'PctOccupMgmtProf',
 'MalePctDivorce',
 'MalePctNevMarr',
 'FemalePctDiv',
 'TotalPctDiv',
 'PersPerFam',
 'PctFam2Par',
 'PctTeen2Par',
 'PctWorkMomYoungKids',
 'PctWorkMom',
 'NumImmig',
 'PctImmigRec5',
 'PctImmigRec8',
 'PctImmigRec10',
 'PctRecentImmig',
 'PctRecImmig8',
 'PctNotSpeakEnglWell',
 'PctLargHouseFam',
 'PctLargHouseOccup',
 'PersPerOwnOccHous',
 'PctPersDenseHous',
 'MedNumBR',
 'PctHousOccup',
 'PctHousOwnOcc',
 'PctVacantBoarded',
 'PctVacMore6Mos',
 'PctWOFullPlumb',
 'OwnOccHiQuart',
 'RentLowQ',
 'RentHighQ',
 'MedRent',
 'NumInShelters',
 'PctForeignBorn',
 'PctBornSameState',
 'PctSameState85',
 'LandArea',
 'PopDens',
 'LemasPctOfficDrugUn']

In [ ]:
included_cols = ['population',
 'racepctblack',
 'racePctWhite',
 'racePctHisp',
 'agePct12t21',
 'agePct16t24',
 'pctUrban',
 'medFamInc',
 'perCapInc',
 'blackPerCap',
 'OtherPerCap',
 'HispPerCap',
 'PctBSorMore',
 'PctEmplManu',
 'PctEmplProfServ',
 'PctOccupManu',
 'PctKids2Par',
 'PctYoungKids2Par',
 'NumIlleg',
 'PctIlleg',
 'PctImmigRecent',
 'PctRecImmig5',
 'PctRecImmig10',
 'PctSpeakEnglOnly',
 'PersPerOccupHous',
 'PersPerRentOccHous',
 'PctPersOwnOccup',
 'PctHousLess3BR',
 'HousVacant',
 'MedYrHousBuilt',
 'PctHousNoPhone',
 'OwnOccLowQuart',
 'OwnOccMedVal',
 'RentMedian',
 'MedRentPctHousInc',
 'MedOwnCostPctInc',
 'MedOwnCostPctIncNoMtg',
 'NumStreet',
 'PctSameHouse85',
 'PctSameCity85',
 'PctUsePubTrans']

###Dropping the excluded columns

In [ ]:
for name in excluded_cols:
  df = df.drop(name, axis=1)

In [ ]:
df.shape

(1993, 47)

###Using cut to create bins 
For simplicity of the further process in fuzzyfication, the bins number is kept 4.

In [ ]:
for name in included_cols:
  print(name)
  if df[name].dtype == str or df[name].dtype == object:
    print('skipped ^')
    continue
  df[name] = pd.cut(df[name], bins=4)

population
racepctblack
racePctWhite
racePctHisp
agePct12t21
agePct16t24
pctUrban
medFamInc
perCapInc
blackPerCap
OtherPerCap
skipped ^
HispPerCap
PctBSorMore
PctEmplManu
PctEmplProfServ
PctOccupManu
PctKids2Par
PctYoungKids2Par
NumIlleg
PctIlleg
PctImmigRecent
PctRecImmig5
PctRecImmig10
PctSpeakEnglOnly
PersPerOccupHous
PersPerRentOccHous
PctPersOwnOccup
PctHousLess3BR
HousVacant
MedYrHousBuilt
PctHousNoPhone
OwnOccLowQuart
OwnOccMedVal
RentMedian
MedRentPctHousInc
MedOwnCostPctInc
MedOwnCostPctIncNoMtg
NumStreet
PctSameHouse85
PctSameCity85
PctUsePubTrans

Making the final col ViolentCrimesPerPop too descritized in 3 bins as per output given in the form.

In [ ]:
df['ViolentCrimesPerPop'] = pd.cut(df['ViolentCrimesPerPop'], bins = 3)

In [ ]:
df['OtherPerCap'] = df['OtherPerCap'].astype(float)

In [ ]:
df['OtherPerCap'] = pd.cut(df['OtherPerCap'], bins=4)

###Checking final data

In [ ]:
df.sample(10)

      state county  ...  PctUsePubTrans ViolentCrimesPerPop
549      36      1  ...  (-0.001, 0.25]     (-0.001, 0.333]
1034     48      ?  ...  (-0.001, 0.25]     (-0.001, 0.333]
1890      5      ?  ...  (-0.001, 0.25]     (-0.001, 0.333]
1695     48      ?  ...  (-0.001, 0.25]     (-0.001, 0.333]
516      34     13  ...     (0.25, 0.5]     (-0.001, 0.333]
590      40      ?  ...  (-0.001, 0.25]      (0.333, 0.667]
714      21      ?  ...  (-0.001, 0.25]     (-0.001, 0.333]
1575     51    550  ...  (-0.001, 0.25]     (-0.001, 0.333]
1414     29      ?  ...  (-0.001, 0.25]     (-0.001, 0.333]
1543     29      ?  ...  (-0.001, 0.25]      (0.333, 0.667]

[10 rows x 47 columns]

###Saving the final data

In [ ]:
df.to_csv('/content/drive/MyDrive/ADM Project/descritized_crimedata.csv')

##Removing the informational part of data such as community name and country code and fold

In [ ]:
df = df.drop(["state", "county", "community", "communityname", "fold"], axis=1)
df.shape

(1993, 42)

In [ ]:
df.sample(5)

          population    racepctblack  ...  PctUsePubTrans ViolentCrimesPerPop
1826  (-0.001, 0.25]  (-0.001, 0.25]  ...  (-0.001, 0.25]     (-0.001, 0.333]
159   (-0.001, 0.25]  (-0.001, 0.25]  ...  (-0.001, 0.25]     (-0.001, 0.333]
1675  (-0.001, 0.25]  (-0.001, 0.25]  ...  (-0.001, 0.25]     (-0.001, 0.333]
263   (-0.001, 0.25]  (-0.001, 0.25]  ...  (-0.001, 0.25]     (-0.001, 0.333]
62    (-0.001, 0.25]  (-0.001, 0.25]  ...  (-0.001, 0.25]     (-0.001, 0.333]

[5 rows x 42 columns]

###Saving the data

In [ ]:
df.to_csv('/content/drive/MyDrive/ADM Project/descritized_crimedata_without_info_cols.csv')

#Encoded descritized values

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ADM Project/communities.data", header=None)
df.head()

   0   1      2                    3    4    ...  123  124   125   126   127
0    8   ?      ?         Lakewoodcity    1  ...  0.9  0.5  0.32  0.14  0.20
1   53   ?      ?          Tukwilacity    1  ...    ?    ?  0.00     ?  0.67
2   24   ?      ?         Aberdeentown    1  ...    ?    ?  0.00     ?  0.43
3   34   5  81440  Willingborotownship    1  ...    ?    ?  0.00     ?  0.12
4   42  95   6096    Bethlehemtownship    1  ...    ?    ?  0.00     ?  0.03

[5 rows x 128 columns]

In [ ]:
file = open("/content/drive/MyDrive/ADM Project/communities.names")
header = []
for line in file:
    if "@attribute" in line: 
        header.append(line.split(" ")[1])

In [ ]:
df.columns = header
df.head()

   state county  ... PolicBudgPerPop ViolentCrimesPerPop
0      8      ?  ...            0.14                0.20
1     53      ?  ...               ?                0.67
2     24      ?  ...               ?                0.43
3     34      5  ...               ?                0.12
4     42     95  ...               ?                0.03

[5 rows x 128 columns]

##Data cleaning

####checking for missing values

What are the missing values per column!!

In [ ]:
missing_per_row = []
for column in df.columns:
    try:
        count = df[df[column] == "?"].shape[0]
    except Exception:
        count = 0
    missing_per_row.append((column, count))
sorted(missing_per_row, key=lambda tup: tup[1], reverse=True)

[('LemasSwornFT', 1675),
 ('LemasSwFTPerPop', 1675),
 ('LemasSwFTFieldOps', 1675),
 ('LemasSwFTFieldPerPop', 1675),
 ('LemasTotalReq', 1675),
 ('LemasTotReqPerPop', 1675),
 ('PolicReqPerOffic', 1675),
 ('PolicPerPop', 1675),
 ('RacialMatchCommPol', 1675),
 ('PctPolicWhite', 1675),
 ('PctPolicBlack', 1675),
 ('PctPolicHisp', 1675),
 ('PctPolicAsian', 1675),
 ('PctPolicMinor', 1675),
 ('OfficAssgnDrugUnits', 1675),
 ('NumKindsDrugsSeiz', 1675),
 ('PolicAveOTWorked', 1675),
 ('PolicCars', 1675),
 ('PolicOperBudg', 1675),
 ('LemasPctPolicOnPatr', 1675),
 ('LemasGangUnitDeploy', 1675),
 ('PolicBudgPerPop', 1675),
 ('community', 1177),
 ('county', 1174),
 ('OtherPerCap', 1),
 ('state', 0),
 ('communityname', 0),
 ('fold', 0),
 ('population', 0),
 ('householdsize', 0),
 ('racepctblack', 0),
 ('racePctWhite', 0),
 ('racePctAsian', 0),
 ('racePctHisp', 0),
 ('agePct12t21', 0),
 ('agePct12t29', 0),
 ('agePct16t24', 0),
 ('agePct65up', 0),
 ('numbUrban', 0),
 ('pctUrban', 0),
 ('medIncome', 0),
 ('pctWWage', 0),
 ('pctWFarmSelf', 0),
 ('pctWInvInc', 0),
 ('pctWSocSec', 0),
 ('pctWPubAsst', 0),
 ('pctWRetire', 0),
 ('medFamInc', 0),
 ('perCapInc', 0),
 ('whitePerCap', 0),
 ('blackPerCap', 0),
 ('indianPerCap', 0),
 ('AsianPerCap', 0),
 ('HispPerCap', 0),
 ('NumUnderPov', 0),
 ('PctPopUnderPov', 0),
 ('PctLess9thGrade', 0),
 ('PctNotHSGrad', 0),
 ('PctBSorMore', 0),
 ('PctUnemployed', 0),
 ('PctEmploy', 0),
 ('PctEmplManu', 0),
 ('PctEmplProfServ', 0),
 ('PctOccupManu', 0),
 ('PctOccupMgmtProf', 0),
 ('MalePctDivorce', 0),
 ('MalePctNevMarr', 0),
 ('FemalePctDiv', 0),
 ('TotalPctDiv', 0),
 ('PersPerFam', 0),
 ('PctFam2Par', 0),
 ('PctKids2Par', 0),
 ('PctYoungKids2Par', 0),
 ('PctTeen2Par', 0),
 ('PctWorkMomYoungKids', 0),
 ('PctWorkMom', 0),
 ('NumIlleg', 0),
 ('PctIlleg', 0),
 ('NumImmig', 0),
 ('PctImmigRecent', 0),
 ('PctImmigRec5', 0),
 ('PctImmigRec8', 0),
 ('PctImmigRec10', 0),
 ('PctRecentImmig', 0),
 ('PctRecImmig5', 0),
 ('PctRecImmig8', 0),
 ('PctRecImmig10', 0),
 ('PctSpeakEnglOnly', 0),
 ('PctNotSpeakEnglWell', 0),
 ('PctLargHouseFam', 0),
 ('PctLargHouseOccup', 0),
 ('PersPerOccupHous', 0),
 ('PersPerOwnOccHous', 0),
 ('PersPerRentOccHous', 0),
 ('PctPersOwnOccup', 0),
 ('PctPersDenseHous', 0),
 ('PctHousLess3BR', 0),
 ('MedNumBR', 0),
 ('HousVacant', 0),
 ('PctHousOccup', 0),
 ('PctHousOwnOcc', 0),
 ('PctVacantBoarded', 0),
 ('PctVacMore6Mos', 0),
 ('MedYrHousBuilt', 0),
 ('PctHousNoPhone', 0),
 ('PctWOFullPlumb', 0),
 ('OwnOccLowQuart', 0),
 ('OwnOccMedVal', 0),
 ('OwnOccHiQuart', 0),
 ('RentLowQ', 0),
 ('RentMedian', 0),
 ('RentHighQ', 0),
 ('MedRent', 0),
 ('MedRentPctHousInc', 0),
 ('MedOwnCostPctInc', 0),
 ('MedOwnCostPctIncNoMtg', 0),
 ('NumInShelters', 0),
 ('NumStreet', 0),
 ('PctForeignBorn', 0),
 ('PctBornSameState', 0),
 ('PctSameHouse85', 0),
 ('PctSameCity85', 0),
 ('PctSameState85', 0),
 ('LandArea', 0),
 ('PopDens', 0),
 ('PctUsePubTrans', 0),
 ('LemasPctOfficDrugUn', 0),
 ('ViolentCrimesPerPop', 0)]

In [ ]:
df.shape

(1994, 128)

####dropping the rows with missing values

What is number of rows with missing values!

In [ ]:
missing_value_rows = []
for i in range(df.shape[0]):
    if "?" in list(df.iloc[i].values):
        missing_value_rows.append(i)

In [ ]:
print("Total rows: " + str(df.shape[0]))
print("Rows with missing values: " + str(len(missing_value_rows)))

Total rows: 1994
Rows with missing values: 1871

drop the row with missing "OtherPerCap" information, but keep the column.
Remove the columns wiht the missing per row values 1675!

In [ ]:
df = df[df["OtherPerCap"] != "?"]
columns_to_drop = [column for column, count in missing_per_row if count == 1675]
df = df.drop(columns_to_drop, axis=1)
df.shape

(1993, 106)

In [ ]:
df.sample(5)

      state county  ... LemasPctOfficDrugUn ViolentCrimesPerPop
525      35      ?  ...                0.77                0.66
1980     25      5  ...                0.00                0.28
1928     29      ?  ...                0.00                0.17
1425     55    105  ...                0.00                0.08
1206     53      ?  ...                0.00                0.12

[5 rows x 106 columns]

Cols from GA

In [ ]:
excluded_cols = ['householdsize',
 'racePctAsian',
 'agePct12t29',
 'agePct65up',
 'numbUrban',
 'medIncome',
 'pctWWage',
 'pctWFarmSelf',
 'pctWInvInc',
 'pctWSocSec',
 'pctWPubAsst',
 'pctWRetire',
 'whitePerCap',
 'indianPerCap',
 'AsianPerCap',
 'NumUnderPov',
 'PctPopUnderPov',
 'PctLess9thGrade',
 'PctNotHSGrad',
 'PctUnemployed',
 'PctEmploy',
 'PctOccupMgmtProf',
 'MalePctDivorce',
 'MalePctNevMarr',
 'FemalePctDiv',
 'TotalPctDiv',
 'PersPerFam',
 'PctFam2Par',
 'PctTeen2Par',
 'PctWorkMomYoungKids',
 'PctWorkMom',
 'NumImmig',
 'PctImmigRec5',
 'PctImmigRec8',
 'PctImmigRec10',
 'PctRecentImmig',
 'PctRecImmig8',
 'PctNotSpeakEnglWell',
 'PctLargHouseFam',
 'PctLargHouseOccup',
 'PersPerOwnOccHous',
 'PctPersDenseHous',
 'MedNumBR',
 'PctHousOccup',
 'PctHousOwnOcc',
 'PctVacantBoarded',
 'PctVacMore6Mos',
 'PctWOFullPlumb',
 'OwnOccHiQuart',
 'RentLowQ',
 'RentHighQ',
 'MedRent',
 'NumInShelters',
 'PctForeignBorn',
 'PctBornSameState',
 'PctSameState85',
 'LandArea',
 'PopDens',
 'LemasPctOfficDrugUn']

In [ ]:
included_cols = ['population',
 'racepctblack',
 'racePctWhite',
 'racePctHisp',
 'agePct12t21',
 'agePct16t24',
 'pctUrban',
 'medFamInc',
 'perCapInc',
 'blackPerCap',
 'OtherPerCap',
 'HispPerCap',
 'PctBSorMore',
 'PctEmplManu',
 'PctEmplProfServ',
 'PctOccupManu',
 'PctKids2Par',
 'PctYoungKids2Par',
 'NumIlleg',
 'PctIlleg',
 'PctImmigRecent',
 'PctRecImmig5',
 'PctRecImmig10',
 'PctSpeakEnglOnly',
 'PersPerOccupHous',
 'PersPerRentOccHous',
 'PctPersOwnOccup',
 'PctHousLess3BR',
 'HousVacant',
 'MedYrHousBuilt',
 'PctHousNoPhone',
 'OwnOccLowQuart',
 'OwnOccMedVal',
 'RentMedian',
 'MedRentPctHousInc',
 'MedOwnCostPctInc',
 'MedOwnCostPctIncNoMtg',
 'NumStreet',
 'PctSameHouse85',
 'PctSameCity85',
 'PctUsePubTrans']

###Dropping the excluded columns

In [ ]:
for name in excluded_cols:
  df = df.drop(name, axis=1)

In [ ]:
df.shape

(1993, 47)

####Cut labels

In [ ]:
cut_labels = [1,2,3,4]

In [ ]:
for name in included_cols:
  print(name)
  if df[name].dtype == str or df[name].dtype == object:
    print('skipped ^')
    continue
  df[name] = pd.cut(df[name], bins=4, labels = cut_labels)

population
racepctblack
racePctWhite
racePctHisp
agePct12t21
agePct16t24
pctUrban
medFamInc
perCapInc
blackPerCap
OtherPerCap
skipped ^
HispPerCap
PctBSorMore
PctEmplManu
PctEmplProfServ
PctOccupManu
PctKids2Par
PctYoungKids2Par
NumIlleg
PctIlleg
PctImmigRecent
PctRecImmig5
PctRecImmig10
PctSpeakEnglOnly
PersPerOccupHous
PersPerRentOccHous
PctPersOwnOccup
PctHousLess3BR
HousVacant
MedYrHousBuilt
PctHousNoPhone
OwnOccLowQuart
OwnOccMedVal
RentMedian
MedRentPctHousInc
MedOwnCostPctInc
MedOwnCostPctIncNoMtg
NumStreet
PctSameHouse85
PctSameCity85
PctUsePubTrans

In [ ]:
df['ViolentCrimesPerPop'] = pd.cut(df['ViolentCrimesPerPop'], bins = 3, labels = [1,2,3])

In [ ]:
df['OtherPerCap'] = df['OtherPerCap'].astype(float)

In [ ]:
df['OtherPerCap'] = pd.cut(df['OtherPerCap'], bins=4, labels =cut_labels)

In [ ]:
df.sample(10)

     population racepctblack  ... PctUsePubTrans ViolentCrimesPerPop
798           1            1  ...              1                   1
975           1            1  ...              2                   1
659           1            1  ...              1                   2
909           3            3  ...              2                   3
1467          1            2  ...              2                   1
1132          1            1  ...              1                   1
1642          1            1  ...              2                   1
1410          1            1  ...              1                   1
300           1            1  ...              1                   1
619           1            1  ...              1                   1

[10 rows x 42 columns]

In [ ]:
df = df.drop(["state", "county", "community", "communityname", "fold"], axis=1)
df.sample(5)

     population racepctblack  ... PctUsePubTrans ViolentCrimesPerPop
1828          1            1  ...              1                   1
1182          1            4  ...              1                   3
6             1            1  ...              1                   1
1600          1            1  ...              1                   1
509           1            1  ...              1                   1

[5 rows x 42 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/ADM Project/descritized_crimedata_labeled_without_info_cols.csv', index=False)